
body{
    background-color: #ffffff;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    
    line-height: 1.3em;
    margin: 0;
}

a{
    color: black;
    padding-left: 5px;
}
a:hover{
    color: darkblue;
}
.button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    margin: 10px 0px;
    border: none;
}
.container{
    width: 90%;
    border:5px #ffffff solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.clr{
    clear: both;
}
.box-1{
    width: 100%;
    border:5px black solid;
    margin: 10px;
    padding: 20px;
}

.box-3{
    margin: auto;
    background-color: white;
    color: darkblue;
}

.box-1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left; 
}

.class1{
    justify-content: center;
}

.navbar{
    padding-left: 8px;
    padding-top: 15px;  
    padding-bottom: 15px;
    background-color: #faf9fa;
    border-bottom: 2px solid hsla(0,0%,52.2%,.1);
}

.myform{
    padding: 20px;
}

.myform .form-group{
    padding-bottom: 15px;
}

.myform label{
    display: block;
}

.myform input[type="text"], .myform textarea{
    padding: 8px;
    width: 100px;
}
.block{
    float: left;
    width: 33%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}
#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}
.p-box{
    width: 900px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    background-image:url('../assets/windows.jpg') ;
    background-repeat: no-repeat;
    /*background-position: 20px 30px;*/
    background-position: center center;
}
.p-box h1{
    position: absolute;
    top: 40px;
}
.p-box h2{
    position: absolute;
    top: 90px;
}
.p-box p{
    position: absolute;
    top: 130px;
}
.c-box{
    width: 900px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: relative;
}
/*.fix-me{
    position: fixed;
    top: 400px;
}*/
.my-list li:first-child{
    background: red;
}
.my-list li:last-child{
    background: blue;
}
.my-list li:nth-child(3){
    background: yellow;
}
.my-list li:nth-child(even){
    background: gray;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.boxes a{
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 50px;
    width: 125px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center center;
}